main{
}
section{
}
#mainFooter{
  height: 100%;
}
section>.wrap{
}
/* 1 introduction -------------------------------------------*/
/* main section:not(nth-child(1)){
  display: none;
}
 */
#introduction{
  padding-top: 240px;
  transition: all 0.5s;
  position: relative;
}
#introduction .wrap{

  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  box-sizing: border-box;
  max-width: 100%;
}
#introduction .wrap::before{
  content: "";
  display: block;
  width: 45%;
  height: 1600px;
  margin-left: 40px;
  background-image: url(https://www.brandxcorp.com/web/upload/images/img_main01.jpg),url(https://www.brandxcorp.com/web/upload/images/img_main02.jpg),url(https://www.brandxcorp.com/web/upload/images/img_main03.jpg),url(https://www.brandxcorp.com/web/upload/images/img_main04.jpg),url(https://www.brandxcorp.com/web/upload/images/img_main05.jpg);
  background-size: 98%,50%,70%,64%,100%;
  background-repeat: no-repeat;
  background-position-y: 0,400px,850px,1010px,1305px;
  background-position-x: left,right,left,right,center;
}
#introduction .right{
  width: 440px;
  box-sizing: border-box;
  padding-right: 65px;
}
#introduction .right p{
  line-height: 2;
  margin-bottom: 30px;
}
#introduction .right a.more{
  
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  color: #ff581e;
}
#introduction .right a.more::before{
  content: "";
  display: block;
  border: transparent;
  border-right: 1px solid red;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -30%;
  bottom: 0;
  rotate: -45deg;
  transform-origin: 100% 100%;
  transition:all 0.5s;
}
#introduction .right a.more::after{
  content: "";
  width: 130%;
  border-bottom: 1px solid red;
  display: block;
  margin-top: 10px;
  transition:all 0.5s;

}
#introduction .right a.more:hover::before{
  right: -50%;

}
#introduction .right a.more:hover::after{
  width: 150%;

}
#introduction hgroup{

}
#introduction h2{

  color: #ff581e;
}
#introduction h3{

  margin: 30px 0;
  line-height: 1.6;
}
#introduction p{

}
.fixed{
  position: fixed;
/*   top: 50px; */
  right: 0;
}
#introduction .right::after{
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  margin-top: 20px;
  background-image: url(https://www.brandxcorp.com/web/upload/images/img_circle01.png),url(https://www.brandxcorp.com/web/upload/images/img_circle02.png),url(https://www.brandxcorp.com/web/upload/images/img_circle03.png);
  background-size: 35%, 35%,35%;
  background-position-x: 0, 44%, 88%;
  background-repeat: no-repeat;
  background-position-y: center;
}
/* news -------------------------------------------------*/
#news {
  transition: all 0.7s;
  border: 3px solid #000;
}
#news .wrap {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0 29px;
  background-color: #eee;
}
.introPt{
  position: absolute;
  right: 0;
}

/* 기업소개 */
#history {
}
#history .wrap {

}
#history hgroup {
  
  text-align: center;
}
#history hgroup h2 {
  
}
#history hgroup h3 {
  
  line-height: 2;
}
#history hgroup h4 {
  margin-bottom: 50px;
}
#history ul{

  display: flex;
  gap: 12px;
  text-align: center;
}
#history ul li{

  width: calc(100% / 3);
  background-color: #eee;
  padding-top: 70px;
  transition: all 0.4s;
}
#history ul li:hover{
  box-shadow: 
2px 7px 14px #ccc; 
}
#history ul li::before{
  content: "";
  width: 100%;
  height: 250px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#history ul li:nth-child(1)::before{
  background-image: url(../img/his1.png);

}
#history ul li:nth-child(2)::before{
  background-image: url(../img/his2.png);

}
#history ul li:nth-child(3)::before{
  background-image: url(../img/his3.png);

}

#history ul li h5{
  line-height: 5;
  margin-bottom: 20px;
}
#history ul li a{

  width: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px 0;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  font-size: 13px;
}
/* business */
#business{

}
#business .wrap{
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  justify-content: center;
  text-align: center;
  position: relative;
  background-color: #222425;
}
#business .wrap>*{
  width: 50%;
  /*! border:1px solid; */
}
#business .wlist{
   position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
   overflow: hidden;
}
#business hgroup{
  color: white;
}
#business h6{

}
#business h3{

  line-height: 2.5;
}
#business p{
  margin-bottom: 30px;
}
#business .list{


  display: flex;
  width: 300%;
  height: 100%;
}
#business .list li{

  width: calc(100% / 3);
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 50px;
  background-size: cover;
  color: white;
  background-position: center;
}
#business .list li:nth-child(1){
  
  background-image: url(../img/business01.jpg);
}
#business .list li:nth-child(2){
  background-image: url(../img/business02.jpg);
}
#business .list li:nth-child(3){
  background-image: url(../img/business03.jpg);
}
#business a.more{

  border-radius: 25px;
  width: 120px;
  line-height: 3;
  color: white;
  margin-right: calc(25% - 60px);
  border: 1px solid;
  transition: all 0.2s;
}
#business a.more:hover{
  background-color: #fff;
  color:#000;
}
/* society */
#society {
 
}
#society .wrap {
  text-align: center;
}
#society hgroup {
 
}
#society hgroup h2 {
 
}
#society hgroup h3 {
 
}
#society p {
 
  font-size: 15px;
}
#society ul.list {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
#society ul li {

  width: calc(25% - 120px / 8);
  border: 1px solid #eee;
  box-sizing: border-box;
}
#society ul li a {
  
  display: block;
  line-height: 3;
  transition: all 0.5s;
}
#society ul li a:hover{
  box-shadow: 10px 10px 10px #ccc;
  color: blue;
}
#society ul li a::before{
  content: "";
  width: 100%;
  height: 180px;
  display: block;
  background-position: center;
  background-size: cover;
}
#society ul li:nth-child(1) a::before{
  background-image: url(../img/society01.jpg);
}
#society ul li:nth-child(2) a::before{
  background-image: url(../img/society02.jpg);
}
#society ul li:nth-child(3) a::before{
  background-image: url(../img/society03.jpg);
}
#society ul li:nth-child(4) a::before{
  background-image: url(../img/society04.jpg);
}
#society ul li:nth-child(5) a::before{
  background-image: url(../img/society05.jpg);
}
#society ul li:nth-child(6) a::before{
  background-image: url(../img/society06.jpg);
}
#society ul li:nth-child(7) a::before{
  background-image: url(../img/society07.jpg);
}
#society ul li:nth-child(8) a::before{
  background-image: url(../img/society08.jpg);
}
/* recruit */
#recruit{

}
#recruit .wrap{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#recruit .wrap::after{
  content: "";
  display: block;
  width: 53%;
  height: 360px;
  background-image: url(../img/recruit.jpg);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 34%;
}
#recruit .wrapin{
  text-align: center;
  background-color: #eee;
  width: 62%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 140px;
  box-sizing: border-box;
  position: relative;
}
#recruit .wrapin::before{
  content: "";
  border: 1px solid;
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  left: calc(20px / 2);
}

#recruit .wrapin hgroup{

}
#recruit .wrapin hgroup h2{
  line-break: 2;
}
#recruit .wrapin hgroup h3{
  line-height: 3;
}
#recruit .wrapin p{
  
}
#recruit .wrapin a.more{
  margin-top: 20px;
    border: 1px solid;
  line-height: 2;
  padding: 0 10px;
  border-radius: 30px;
}
/* 투자자정보 */
#investment{
  padding: 0;
}
#investment .wrap{
  text-align: center;
  line-height: 3;
  border-top: 1px solid #eee;
  padding: 30px 0;
}
#investment h2{

}
#investment p{
line-height: 3;
}
#investment p a{
  color: blue;
}